<?xml version="1.0"?>
<launch>
  	<param name="/use_sim_time" value="true" />

	<arg name="world_path" default="worlds/empty.world"/>
	
	<include file="$(find agv_simulation)/launch/start_gazebo.launch" >
		<arg name="world_path" value="$(arg world_path)"/>
	</include>

  	<!-- include our robots -->
  	<include file="$(find agv_multirobot)/launch/multispawn_agv.launch"/>
  	
</launch>
