<?xml version='1.0'?>

<launch>
	
	<arg name="world_path" default="worlds/empty.world"/>
	<arg name="robot_ns" default="/"/>
	
	<include file="$(find agv_simulation)/launch/start_gazebo.launch" >
		<arg name="world_path" value="$(arg world_path)"/>
	</include>

	<include file="$(find agv_simulation)/launch/spawn_agv.launch">
		<arg name="robot_ns" value="$(arg robot_ns)"/>
	</include>




</launch>
